data:
  base_path: 'data/'
  save_state_file: 'state.pkl'

train:
  batch_size: 64

  noise_theta: 0.15
  noise_sigma: 0.2
  noise_mu: 0

  reward_decay: 0.99
  observe_n_iter: 100000
  memory_size: 1000000

  TAU: 0.001

  critic_l2_loss_weight: 0.02

  actor_learning_rate: 0.0001
  critic_learning_rate: 0.001

  save_checkpoints_steps: 500000
  model_dir: 'logs/ddpg'
  max_steps: 2500000
